extends layout

block content

  h1 #{title}

  form(method='POST')
    div.form-group
      label(for='name') Category Name:
      input#name.form-control(type='text', placeholder='Cosmetics' name='name' required value=(undefined===category ? '' : category.name) )

      label(for='description') Description:
      input#description.form-control(type='text', placeholder='describe' name='description' required value=(undefined===category ? '' : category.description) )



    button.btn.btn-primary(type='submit') Submit

  if errors
    ul
      for error in errors
        li!= error.msg