extends layout

block content
  h1= title
  p Welcome

  h2 Below is what we have today

  p The Inventory has the following record counts:

  ul
    li #[strong Products:] !{product_count}
    li #[strong Categories:] !{category_count}
    li #[strong Suppliers:] !{supplier_count}
