extends layout

block content
  h1= title
  if product_list.length
    ul
      each product in product_list
        li
          a(href=product.url)  #{product.name}
          |   (#{product.category.name})
  else
    p There are no products.