extends layout

block content
  h1= title
  if supplier_list.length
    ul
      each supplier in supplier_list
        li
          a(href=supplier.url)  #{supplier.name}

  else
    p There are no suppliers.